<section class="dashboard">
  <header class="page-header">
    <h1>Administrator Dashboard</h1>
  </header>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th> # Products </th>
        <th> # Categories </th>
      <tr>
    </thead>
    <tbody>
      <tr>
        <td> <%= @product_count %> </td>
        <td> <%= @category_count %> </td>
      </tr>
    </tbody>
  </table>
</section>